@import 'meyer-reset.scss'

// Palette
//$pastel-blue: #bae1ff
//$pastel-green: #baffc9
$pastel-yellow: #ffffba
//$pastel-orange: #ffdfba
//$pastel-red: #ffb3ba
//$pastel-purple: #c0aee0

$pastel-blue: #161f27
$pastel-red: #18383F
$pastel-purple: #256077
//$pastel-orange: #f3f2dc
$pastel-orange: $pastel-purple
$pastel-green: #eccc4e
$pastel-button: $pastel-green
$pastel-button-dark: darken($pastel-purple, 30%)

$skew-amount: -5deg

// Mixin
 
html, body
  font-family: 'Roboto', sans-serif
  background: $pastel-blue
  color: #f3f2dc
  line-height: 1.2em

::selection
  background: $pastel-green
  color: lighten(black, 30%)

h1, h2, h3, h4, h5, h6
  font-family: 'Playfair Display', serif

h1
  font-size: 2.2em
  font-weight: bold

.c
  padding: 30px
  transform: skewY($skew-amount)

.inner
  transform: skewY(-$skew-amount)
  margin-bottom: 40px
  display: flex
  flex-wrap: wrap
  flex-direction: row
  justify-content: center
  align-items: center

a
  text-decoration: none

.image-items img
  width: 100px
  height: 100px
  margin: 0.35em
  &:hover
    opacity: 0.6

a:hover .tooltip
  visibility: visible
  transform: none
  opacity: 1

.tooltip
  transition: all 0.2s ease-in-out
  visibility: hidden
  opacity: 0
  width: 100px
  background: #020e4c
  transform: translateY(50px)
  color: white
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75)
  text-align: center
  padding: 0.5em 0
  border-radius: 6px
  position: absolute
  top: 93%
  left: 50%
  margin-left: -50px
  z-index: 200

.tooltip-2
  width: 160px !important
  top: 63% !important
  left: 50% !important
  margin-left: -80px !important

.clearme
  clear: both

.centered-block
  display: inline-block
  text-align: center

.button
  display: inline-block
  transition: 0.2s all ease-in-out
  margin: 0.20em 0
  border-radius: 30px
  padding: 0.5em 1em
  text-decoration: none
  &:hover
    text-decoration: none
  &:visited
    text-decoration: none

.button-light, .button-dark
  background: $pastel-red
  color: #f3f2dc
  border: 2px solid #f3f2dc
  &:hover
    background: #f3f2dc
    color: $pastel-red

.project-image
  display: inline-block
  padding-top: 1em

.project-description
  display: inline-block
  vertical-align: middle
  text-align: center
  max-width: 400px
  margin-top: 3em
  font-size: 1.2em

@media screen and (min-width: 696px)
  .project-image
    margin-right: 1em

#name-container .inner
  color: white
  margin-bottom: 0px

#portfolio-slice
  background: $pastel-red
  text-transform: uppercase
  text-align: center

#horus-container
  background: $pastel-purple
  text-align: right

#yogi-container
  background: darken($pastel-purple, 5%)
  text-align: right

#req-container
  background: $pastel-purple
  text-align: right

#copyright-slice
  bacgkround: $pastel-red
  text-align: center
