html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html, body {
  font-family: 'Roboto', sans-serif;
  background: #161f27;
  color: #f3f2dc;
  line-height: 1.2em; }

::-moz-selection {
  background: #eccc4e;
  color: #4d4d4d; }

::selection {
  background: #eccc4e;
  color: #4d4d4d; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif; }

h1 {
  font-size: 2.2em;
  font-weight: bold; }

.c {
  padding: 30px;
  -webkit-transform: skewY(-5deg);
  -ms-transform: skewY(-5deg);
  transform: skewY(-5deg); }

.inner {
  -webkit-transform: skewY(5deg);
  -ms-transform: skewY(5deg);
  transform: skewY(5deg);
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

a {
  text-decoration: none; }

.image-items img {
  width: 100px;
  height: 100px;
  margin: 0.35em; }
  .image-items img:hover {
    opacity: 0.6; }

a:hover .tooltip {
  visibility: visible;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  opacity: 1; }

.tooltip {
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  visibility: hidden;
  opacity: 0;
  width: 100px;
  background: #020e4c;
  -webkit-transform: translateY(50px);
  -ms-transform: translateY(50px);
  transform: translateY(50px);
  color: white;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
  text-align: center;
  padding: 0.5em 0;
  border-radius: 6px;
  position: absolute;
  top: 93%;
  left: 50%;
  margin-left: -50px;
  z-index: 200; }

.tooltip-2 {
  width: 160px !important;
  top: 63% !important;
  left: 50% !important;
  margin-left: -80px !important; }

.clearme {
  clear: both; }

.centered-block {
  display: inline-block;
  text-align: center; }

.button {
  display: inline-block;
  -webkit-transition: 0.2s all ease-in-out;
  -o-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
  margin: 0.20em 0;
  border-radius: 30px;
  padding: 0.5em 1em;
  text-decoration: none; }
  .button:hover {
    text-decoration: none; }
  .button:visited {
    text-decoration: none; }

.button-light, .button-dark {
  background: #18383F;
  color: #f3f2dc;
  border: 2px solid #f3f2dc; }
  .button-light:hover, .button-dark:hover {
    background: #f3f2dc;
    color: #18383F; }

.project-image {
  display: inline-block;
  padding-top: 1em; }

.project-description {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  max-width: 400px;
  margin-top: 3em;
  font-size: 1.2em; }

@media screen and (min-width: 696px) {
  .project-image {
    margin-right: 1em; } }

#name-container .inner {
  color: white;
  margin-bottom: 0px; }

#portfolio-slice {
  background: #18383F;
  text-transform: uppercase;
  text-align: center; }

#horus-container {
  background: #256077;
  text-align: right; }

#yogi-container {
  background: #1f5064;
  text-align: right; }

#req-container {
  background: #256077;
  text-align: right; }

#copyright-slice {
  bacgkround: #18383F;
  text-align: center; }
